body * {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
}

header {
    position: absolute;
    top: 80px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

legend {
    font-size: 48px;
}

input {
    width: 40%;
    height: 36px;
    margin: auto;
    padding: 8px;
}

button {
    height: 36px;
}

#news {
    margin-top: 240px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 14px;
    color: #666;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    display: inline;
}

img {
    height: auto;
    width: 100%;
    display: inline;
    margin-top: 5px;
}

article {
    border: 1px solid black;
    margin: 20px 0;
    padding: 10px;
}

article:hover, article:focus {
    transform: scale(1.03);
}

form p a {
    color: blue;
}